* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Card */
.card {
    width: 20rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1.1rem; 
    text-align: center;
    box-sizing: 5px 5px 5px rgba(0, 0, 0, .3);
}
/* End Card */
/* Start QR CODE Image */
.card img {
    max-width: 100%;
    border-radius: 0.625rem;
}
/* End QR CODE Image */
/* Start Header Card */
.card h1 {
    font-size: 1.4rem;
    margin: 1.25rem 0;
    color: hsl(218, 44%, 22%);
    /* font-weight: 700; */
}
/* End Header Card */
/* Start Paragraph Card */
.card p {
    /* padding: 0 20px 20px 25px; */
    margin: 1.25rem 0.9rem;
    color: hsl(220, 15%, 55%);
    /* font-weight: 400; */
}
/* End Paragraph Card */